# Latihan - Praktikum 10

In [1]:
mahasiswa = ["Zalda", "Saci", "Pipi", "Putri", "Kolbi"]
print(mahasiswa)

['Zalda', 'Saci', 'Pipi', 'Putri', 'Kolbi']

### Analisis
Kode ini membuat sebuah list bernama mahasiswa yang beranggotakan lima nama: "Zalda", "Saci", "Pipi", "Putri", "Kolbi". Ketika perintah print(mahasiswa) dijalankan, program akan menampilkan semua elemen dalam list tersebut secara lengkap di layar

In [3]:
mahasiswa = ("Zalda", "Saci", "Pipi", "Putri", "Kolbi")
print(mahasiswa)

('Zalda', 'Saci', 'Pipi', 'Putri', 'Kolbi')

### Analisis
Kode ini membuat sebuah tuple bernama mahasiswa yang berisi lima elemen: "Zalda", "Saci", "Pipi", "Putri", "Kolbi". Ketika perintah print(mahasiswa) dijalankan, program akan menampilkan semua isi tuple tersebut di layar. Berbeda dari list, tuple bersifat tetap (immutable), sehingga datanya tidak bisa diubah setelah dibuat.

In [5]:
mahasiswa = {"Zalda", "Saci", "Pipi", "Putri", "Kolbi", "Kolbi"}
mahasiswa [0] = "Nur"
print(mahasiswa)

TypeError: 'set' object does not support item assignment

#### Analisis
Kode ini akan menimbulkan error karena mahasiswa didefinisikan sebagai set, bukan list. Dalam Python, set tidak memiliki urutan dan tidak bisa diakses menggunakan indeks, jadi perintah mahasiswa[0] = "Nur" tidak dapat dijalankan. Selain itu, set juga tidak menyimpan elemen yang sama, sehingga “Kolbi” hanya muncul satu kali meskipun ditulis dua kali.

In [6]:
mahasiswa = ["Zalda", "Saci", "Pipi", "Putri", "Kolbi", "Zaza"]
mahasiswa.append("Dika")
mahasiswa.insert(3, "Rehan")
mahasiswa.pop()
mahasiswa.sort(reverse=True)
mahasiswa.remove("Kolbi")
for nama in mahasiswa:
    print("Nama Mahasiswa: ", nama)
    
print(mahasiswa)

Nama Mahasiswa:  Zaza
Nama Mahasiswa:  Zalda
Nama Mahasiswa:  Saci
Nama Mahasiswa:  Rehan
Nama Mahasiswa:  Putri
Nama Mahasiswa:  Pipi
['Zaza', 'Zalda', 'Saci', 'Rehan', 'Putri', 'Pipi']

### Analisis
Kode ini memanipulasi data pada list bernama mahasiswa melalui beberapa operasi. Pertama, daftar berisi enam nama awal: “Zalda”, “Saci”, “Pipi”, “Putri”, “Kolbi”, dan “Zaza”. Elemen “Dika” kemudian ditambahkan ke bagian akhir dengan perintah append(). Selanjutnya, “Rehan” disisipkan di posisi ke-3 menggunakan insert(3, "Rehan"). Setelah itu, elemen terakhir dihapus menggunakan pop(), lalu data dalam list diurutkan secara menurun (descending) dengan sort(reverse=True). Program juga menghapus elemen “Kolbi” menggunakan remove("Kolbi").
Terakhir, program menampilkan setiap nama mahasiswa satu per satu melalui perulangan for, dan mencetak seluruh isi list setelah semua perubahan selesai dilakukan.

In [7]:
mahasiswa = ["Zalda", "Saci", "Pipi", "Putri", "Kolbi", "Zaza"]
mahasiswa.append("Dika")
mahasiswa.insert(3, "Rehan")
mahasiswa.pop()
mahasiswa.sort(reverse=True)
mahasiswa.remove("Kolbi")

i = 1
for nama in mahasiswa:
    print("Nama Mahasiswa ke-", i ,": ", nama)
    i+=1
    
print(mahasiswa)

Nama Mahasiswa ke- 1 :  Zaza
Nama Mahasiswa ke- 2 :  Zalda
Nama Mahasiswa ke- 3 :  Saci
Nama Mahasiswa ke- 4 :  Rehan
Nama Mahasiswa ke- 5 :  Putri
Nama Mahasiswa ke- 6 :  Pipi
['Zaza', 'Zalda', 'Saci', 'Rehan', 'Putri', 'Pipi']

### Analisis
Kode ini mengolah list bernama mahasiswa lewat beberapa langkah. Pertama, “Dika” ditambahkan ke akhir list dengan append(). Lalu, “Rehan” dimasukkan ke posisi ke-3 pakai insert(3, "Rehan"). Setelah itu, elemen terakhir dihapus dengan pop(). Data kemudian diurutkan dari yang terbesar ke terkecil menggunakan sort(reverse=True), dan “Kolbi” dihapus dengan remove("Kolbi"). Selanjutnya, program menampilkan setiap nama mahasiswa bersama nomor urutnya memakai variabel i di dalam perulangan for. Terakhir, list yang sudah diperbarui dan diurutkan ditampilkan lagi dengan print(mahasiswa).

In [8]:
person = {"name": "Zaza", "hp": "080808", "kelas": "TEKOM F"}
print(person)

{'name': 'Zaza', 'hp': '080808', 'kelas': 'TEKOM F'}

### Analisis
Kode ini membuat sebuah dictionary bernama person yang berisi tiga pasangan key dan value: "name": "Zaza", "hp": "080808", dan "kelas": "TEKOM F". Ketika perintah print(person) dijalankan, program akan menampilkan seluruh isi dictionary tersebut di layar dalam format {key: value}.

In [9]:
person = {"name": "Zaza", "hp": "080808", "kelas": "TEKOM F"}
for key, value in person.items():
    print(key, ":", value)

name : Zaza
hp : 080808
kelas : TEKOM F

### Analisis
Kode ini membuat dictionary bernama person yang berisi tiga data: "name": "Zaza", "hp": "080808", dan "kelas": "TEKOM F". Lalu, perulangan for key, value in person.items(): dipakai untuk mengambil setiap pasangan key dan value dari dictionary. Fungsi items() mengembalikan data dalam bentuk pasangan (key, value), jadi keduanya bisa ditampilkan satu per satu dengan format key : value. Hasilnya, program menampilkan nama, nomor hp, dan kelas di baris yang terpisah.

In [8]:
i = 0
while i <= 5:
    print(i)
    i += 1

0
1
2
3
4
5

### Analisis
Kode ini memakai perulangan while untuk menampilkan angka dari 0 sampai 5. Variabel i mulai dari 0, dan selama i <= 5, program akan mencetak nilai i, lalu menambahkannya satu per satu dengan i += 1. Saat i sudah bernilai 6, perulangan berhenti. Hasil akhirnya, angka yang muncul di layar adalah 0, 1, 2, 3, 4, dan 5 secara berurutan.

In [9]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

### Analisis
Kode ini memakai perulangan for dengan fungsi range(10) untuk menampilkan angka dari 0 sampai 9. Fungsi range(10) menghasilkan deretan angka mulai dari 0 hingga 9, dan setiap nilai i dicetak di dalam blok perulangan. Hasil akhirnya, program menampilkan angka 0 sampai 9, masing-masing di baris baru.

In [4]:
for i in range(1,6):
  print(i)

1
2
3
4
5

### Analisis
Kode ini menggunakan perulangan for dengan range(1, 6) untuk menampilkan angka dari 1 sampai 5. Fungsi range(1, 6) menghasilkan deretan angka mulai dari 1 hingga sebelum 6, jadi angka 6 tidak ikut. Setiap nilai i dicetak di dalam perulangan, sehingga hasil yang muncul di layar adalah 1, 2, 3, 4, dan 5 secara berurutan.

In [11]:
for i in range(5,10):
  print(i)

5
6
7
8
9

### Analisis
Kode ini memakai perulangan for dengan range(5, 10) untuk menampilkan angka mulai dari 5 sampai 9. Fungsi range(5, 10) menghasilkan urutan angka dari 5 hingga sebelum 10, jadi angka 10 tidak ikut ditampilkan. Setiap nilai i dicetak di dalam perulangan, sehingga hasil akhirnya menampilkan angka 5, 6, 7, 8, dan 9 secara berurutan di layar.

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:3])

['cherry']

### Analisis
Kode ini menggunakan slicing pada list untuk mengambil data dari indeks 2 sampai sebelum indeks 3. Pada list thislist, posisi indeks ke-2 berisi nilai "cherry", sehingga perintah thislist[2:3] membuat list baru yang isinya ['cherry']. Saat dicetak, output yang muncul di layar adalah ['cherry'].

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[3:])

['orange', 'kiwi', 'melon', 'mango']

### Analisis
Kode ini memakai slicing pada list untuk mengambil elemen mulai dari indeks ke-3 hingga akhir list. Pada list thislist, elemen dari indeks ke-3 adalah "orange", "kiwi", "melon", dan "mango", sehingga perintah thislist[3:] menghasilkan list baru ['orange', 'kiwi', 'melon', 'mango']. Saat dicetak, program menampilkan list tersebut sebagai output.

In [14]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

### Analisis
Kode ini menggunakan slicing dengan [:] untuk mengambil semua elemen di dalam list dari awal sampai akhir. Pada list thislist, seluruh data tetap disertakan, sehingga perintah thislist[:] membuat salinan list yang sama persis dengan aslinya: ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']. Hasil yang ditampilkan di layar adalah list lengkap tersebut.

In [15]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[1:3])

['banana', 'cherry']

### Analisis
Kode ini memakai slicing pada list untuk mengambil elemen dari indeks ke-1 hingga sebelum indeks ke-3. Pada list thislist, elemen di posisi tersebut adalah "banana" dan "cherry", sehingga perintah thislist[1:3] menghasilkan list baru ['banana', 'cherry']. Saat dijalankan, program menampilkan list tersebut sebagai output.

In [16]:
i = 1
while i <= 9:
    print(i)
    i += 2

1
3
5
7
9

### Analisis
Kode ini menggunakan perulangan while untuk menampilkan angka dari 1 hingga 9 dengan penambahan 2 di setiap langkah. Variabel i dimulai dari 1 dan terus bertambah 2 setiap kali perulangan dijalankan, sehingga angka yang dicetak berturut-turut adalah 1, 3, 5, 7, dan 9. Perulangan akan berhenti ketika nilai i sudah lebih besar dari 9.

In [17]:
i = 1
while i <= 13:
    if i == 7:
        print("WOW")
    else:
        print(i)
    i +=2

1
3
5
WOW
9
11
13

### Analisis
Kode ini memakai perulangan while yang menambah nilai i sebesar 2 pada setiap iterasi, dimulai dari 1 hingga 13. Ketika i bernilai 7, program menampilkan teks "WOW", sedangkan untuk nilai lainnya, program mencetak angka seperti biasa. Hasil akhirnya adalah 1, 3, 5, WOW, 9, 11, dan 13.

In [19]:
for i in range(1, 11):
    if i <= 8:
        if i % 2 == 1:
            print("hidup")
        else:
            print("mahasiswa")
    else:
        print(i)

hidup
mahasiswa
hidup
mahasiswa
hidup
mahasiswa
hidup
mahasiswa
9
10

### Analisis
Kode ini menjalankan perulangan for dari angka 1 sampai 10. Di dalamnya ada percabangan: jika i kurang dari atau sama dengan 8, program akan memeriksa apakah i termasuk bilangan ganjil atau genap. Jika ganjil (i % 2 == 1), maka program mencetak "hidup", dan jika genap, mencetak "mahasiswa". Untuk nilai i di atas 8 (yaitu 9 dan 10), program langsung menampilkan angkanya. Jadi, hasil outputnya berupa kombinasi antara kata dan angka sesuai kondisi tersebut.

In [20]:
for i in range(1, 14):
    print(i)
    if i % 3 == 2:  
        print("Ha")

1
2
Ha
3
4
5
Ha
6
7
8
Ha
9
10
11
Ha
12
13

### Analisis
Kode ini menjalankan perulangan for dari angka 1 sampai 13. Setiap nilai i dicetak lebih dulu, lalu dicek apakah sisa bagi i dengan 3 sama dengan 2 (i % 3 == 2). Jika kondisi itu benar, program akan menampilkan kata "Ha". Jadi, setiap kali angka memiliki sisa 2 saat dibagi 3, program mencetak "Ha" setelah angka tersebut. Hasil akhirnya berupa kombinasi angka dan kata "Ha" sesuai aturan yang berlaku.

In [24]:
for i in range(1, 14):
    if i not in [3, 5, 6, 9, 10, 12]:
        print(i)
        
    if i in [2, 5, 8, 11]:
        print("Ha")

    if i in [4, 9]:
        print("Hi")

1
2
Ha
4
Hi
Ha
7
8
Ha
Hi
11
Ha
13

### Analisis
Kode ini menjalankan perulangan dari 1 hingga 13 dan menampilkan angka atau kata tertentu sesuai kondisi yang diberikan. Jika angka tidak ada dalam daftar [3, 5, 6, 9, 10, 12], maka program mencetak angkanya. Jika angka termasuk dalam [2, 5, 8, 11], program menampilkan "Ha", dan jika termasuk dalam [4, 9], menampilkan "Hi". Hasil akhirnya berupa gabungan antara angka dan kata sesuai dengan aturan tersebut.